<p id="notice"><%= notice %></p>

<p>
  <strong>Parent:</strong>
  <%= @item.parent %>
</p>

<p>
  <strong>Category:</strong>
  <%= @item.category %>
</p>

<p>
  <strong>Model:</strong>
  <%= @item.model %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @item.brand %>
</p>

<p>
  <strong>Invoice:</strong>
  <%= @item.invoice %>
</p>

<p>
  <strong>Department:</strong>
  <%= @item.department %>
</p>

<p>
  <strong>Serial number:</strong>
  <%= @item.serial_number %>
</p>

<p>
  <strong>Country of orgin:</strong>
  <%= @item.country_of_orgin %>
</p>

<p>
  <strong>Price:</strong>
  <%= @item.price %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @item.weight %>
</p>

<p>
  <strong>State:</strong>
  <%= @item.state %>
</p>

<p>
  <strong>Barcode:</strong>
  <%= @item.barcode %>
</p>

<p>
  <strong>Note:</strong>
  <%= @item.note %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
